<div class="header relative inverse coloring no-background">

	<div ng-transclude>
	</div>

	<h3
		ng-mouseenter ="HeaderController.hovered = true"
		ng-mouseleave ="HeaderController.hovered = false"
		class         ="
			relative 
			light very-wide text-shadowed b
			transitions padded
		"
		ng-class="{
			more: HeaderController.hovered,
			less: ! HeaderController.hovered
		}"
	>
		uHelpr
		<span ng-if ="SiteState.$currentLocation">
			&nbsp;of {[{ SiteState.$currentLocation.name }]}
		</span>
	</h3>

</div>