<div class="image relative">

	<div
		class    ="absolute tl whole-width whole-height"
		ng-class ="imageClass"
		ng-style ="{
			'background-image'   : ImageController.src,
			'background-size'    : 'cover',
			'background-position': 'center'
		}"
	></div>

	<div
		class    ="absolute tl whole-width whole-height slow transitions {[{ ( ! ImageController.switching ) && 'transparent' || '' }]}"
		ng-class ="imageClass"
		ng-style ="{
			'background-image'   : ImageController.nextSrc,
			'background-size'    : 'cover',
			'background-position': 'center'
		}"
	></div>

</div>