<div class="organization">
	<div
		class    ="tb-margin slow transitions"
		ng-click ="organization.selected = !!! organization.selected"
		ng-class="{ 'active more': organization.selected }"
	>

		<header class="link relative above inverse coloring no-background hoverable">
			<div
				class    ="slow transitions"
				ng-class ="{ 'more lr-margin': ! organization.selected }"
			>

				<z-image
					src         ="{[{ organization.image }]}"
					class       ="absolute whole-height slow transitions"
					image-class ="OrganizationController.imageClass"
				></z-image>

				<div class="relative">
					<div class="relative title h3 b text-shadowed nowrap overflow-ellipsis">

						{[{ organization.name }]}

						<span
							class    ="light small less l-margin inline-block hovered"
							ng-click ="OrganizationController.preventDefault( $event )"
						>
							Show on Map
							<input
								type     ="checkbox"
								ng-model ="organization.shown"
							/>
						</span>

					</div>
				</div>

			</div>
		</header>

		<article
			class    ="slow transitions overflow-scroll b-rounded more relative coloring"
			ng-class ="{
				'shadow padded': organization.selected,
				'transparent'  : ! organization.selected
			}"
		>
			{[{ organization.description || "(Sorry about this. This organization hasn't provided a description.)" }]}
		</article>

	</div>
</div>