<div class="organizations absolute whole-width whole-height">

	<div class="absolute tl whole-width whole-height">
		<z-map
			map            ="Organizations.map"
			center-lat-lng ="Organizations.$currentLatLng"
			class          ="absolute tl whole-width whole-height"
			markers        ="SiteState.getMarkerOptions( organization ) for organization in SiteState.$organizations | filter:{ shown: true } track by organization.id"
		>
		<!-- organization.markerOptions =  -->
			<div class="clearfix">

				<z-image
					class ="absolute tl br no-overflow rounded inset-shadow"
					src   ="{[{ organization.image }]}"
				></z-image>

				<div class="relative no-overflow rounded inset-shadow less padded">

					<div class="rounded shadow mostly sheer text-shadowed less padded b-margin inverse coloring no-background">

						<h1>
							{[{ organization.name }]}
						</h1>

						<div class="sheer less padded rounded">

							Show on Map
							<input
								type     ="checkbox"
								ng-model ="organization.shown"
							/>

							<!-- <br/>

							Position: {[{ organization.markerOptions.position.lat() }]}, {[{ organization.markerOptions.position.lng() }]} -->

							<!-- <a
								class    ="less padded l-margin rounded button"
								ng-click ="Organizations.$currentLatLng = organization.markerOptions.position"
							>
								Center Map Here
							</a> -->

						</div>

					</div>

					<div
						class ="coloring rounded shadow less padded"
						ng-if ="organization.description.length"
					>
						{[{ organization.description }]}
					</div>

				</div>

			</div>
		</z-map>
		<!-- mostly-transparent -->
	</div>

	<z-image
		class    ="absolute tl whole-width whole-height mostly-transparent"
		ng-class ="{ gone: SiteState.mapOnly }"
		src      ="{[{ SiteState.$currentOrganization.image }]}"
	></z-image>

	<div
		class    ="absolute tl whole-width whole-height overflow-scroll"
		ng-class ="{ gone: SiteState.mapOnly }"
	>
		<div
			ng-repeat ="organization in SiteState.$organizations"
			class     ="padded"
			ng-class  ="{
				collapsed: Organizations.mappedOrganization.id && Organizations.mappedOrganization.id != organization.id
			}"
		>
			<z-organization
				organization        ="organization"
				on-map-organization ="Organizations.mappedOrganization = organization"
			></z-organization>
		</div>
	</div>

</div>