<div class="organizations absolute whole-width whole-height">

	<!-- <div class="fixed tl whole-width whole-height">
		<z-image
			class ="absolute tl whole-width whole-height mostly-transparent"
			src   ="{[{ SiteState.$currentOrganization.image }]}"
		></z-image>
	</div> -->

	<div class="fixed tl whole-width whole-height">
		<z-map
			map   ="Organizations.map"
			class ="absolute tl whole-width whole-height mostly-transparent"
		></z-map>
	</div>

	<div class="relative">
		<div
			class     ="padded"
			ng-class  ="{ collapsed: Organizations.mappedOrganization.id && Organizations.mappedOrganization.id != organization.id }"
			ng-repeat ="organization in SiteState.$organizations"
		>
			<z-organization
				organization        ="organization"
				on-map-organization ="Organizations.mappedOrganization = organization"
			></z-organization>
		</div>
	</div>

</div>