@import "partial/common";

@import "partial/animations";

@import "partial/structure"; // this is all the common styling among all web apps

$organization-header-height: 4 * $base-font-size;

.organization {
	header {
		height: $organization-header-height;

		line-height: $organization-header-height;

		.title {
			margin-left: $organization-header-height / 2;
		}

		.image {
			width: $organization-header-height;	
		}
	}

	article {
		height: $organization-header-height * 0;
	}

	.active {
		header {
			.image {
				@include whole-width;
			}
		}

		article {
			height: $organization-header-height * 2;

			.collapsed & {
				height: $organization-header-height * 0;
			}
		}
	}

	.collapsed & {
		margin-top: - $organization-header-height;
	}
}